<%- include('partials/header') %>

<div class="job-list">
  <h2 class="text-center">Available Jobs</h2>
  <% jobs.forEach(job => { %>
    <div class="job-card">
      <h3><%= job.title %> @ <%= job.companyName %></h3>
      <p><%= job.location %></p>
      <a href="/jobs/<%= job._id %>" class="btn">View</a>
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
